# just a flag
ENV = 'production'

# base api
VUE_APP_BASE_API = '/prod-api'

VUE_APP_BASE_DASHBOARD_API = 'https://api-dashboard${PIXEL_DOMAIN}'
VUE_APP_BASE_DATA_EXTRACTOR_IH_API = 'https://data${PIXEL_DOMAIN}'
VUE_APP_BASE_DATA_API_PAS = 'https://data${PIXEL_DOMAIN}/ih-api'
VUE_baseURL_PIXEL_DATAMODEL_API = 'https://api-ot${PIXEL_DOMAIN}'
