# just a flag
ENV = 'production'

# base api
VUE_APP_BASE_API = '/prod-api'


VUE_APP_BASE_DASHBOARD_API = 'https://api-dashboard${PIXEL_DOMAIN}'
VUE_APP_BASE_DATA_EXTRACTOR_IH_API = 'https://data${PIXEL_DOMAIN}'
VUE_APP_BASE_DATA_API_PAS = 'https://data${PIXEL_DOMAIN}/ih-api'
VUE_APP_BASE_ID_API = 'https://id.pixel-ports.eu'
VUE_APP_BASE_ID_CLIENT_ID = '${PIXEL_CLIENT_ID}'
VUE_APP_BASE_ID_SECRET_KEY = '${PIXEL_SECRET_KEY}'
VUE_APP_BASE_URL_API_OTOOLS = 'https://api-ot${PIXEL_DOMAIN}'