127.0.0.1     ih.${PIXEL_INTERNAL_DOMAIN}
127.0.0.1     id.${PIXEL_INTERNAL_DOMAIN}
127.0.0.1     xacml.${PIXEL_INTERNAL_DOMAIN}
127.0.0.1     data.${PIXEL_INTERNAL_DOMAIN}
127.0.0.1     elastic.${PIXEL_INTERNAL_DOMAIN}
127.0.0.1     orchestrator.${PIXEL_INTERNAL_DOMAIN}
