${CORE_HOST_IP}     ih.${PIXEL_INTERNAL_DOMAIN}
${CORE_HOST_IP}     id.${PIXEL_INTERNAL_DOMAIN}
${CORE_HOST_IP}     xacml.${PIXEL_INTERNAL_DOMAIN}
${CORE_HOST_IP}     data.${PIXEL_INTERNAL_DOMAIN}
${CORE_HOST_IP}     elastic.${PIXEL_INTERNAL_DOMAIN}
${CORE_HOST_IP}     orchestrator.${PIXEL_INTERNAL_DOMAIN}
