/****************************** Custom styles rewrite */

.logo-header .brand {
  background-image: url(../img/pixel.png);
  width: 166px;
  background-size: 166px 55px;
  height: 55px;
}

.logo-header {
    float: left;
}

.presentation {
    .media {
        height: auto;
        footer {
            margin-top: 15px;
        }
    }
}
