<footer class="footer-main">
  <div class="container-fluid">
      <div class="footer-content">
          <div class="cred">
        2019 © 
        <a href="http://www.pixel-ports.eu/">PIXEL</a>.
      </div>
    </div>
  </div>
</footer>