<div class="presentation">
  <section class="media">
    <h3 class="media-heading">
      PIXEL
    </h3>
    <span>
      Where IoT meets the Port of The Future
    </span>
    <p>
      PIXEL is the first smart, flexible and scalable solution for reducing environmental impacts while enabling the optimization of operations in port ecosystems through IoT.
    </p>
    <p>
      PIXEL enables a two-way collaboration of ports, multimodal transport agents and cities for optimal use of internal and external resources, sustainable economic growth and environmental impact mitigation, towards the Ports of the Future. 
      Built on top of the state-of-the art interoperability technologies, PIXEL centralises data from the different information silos where internal and external stakeholders store their operational information.
    </p>

  </section>

</div>